@using SandVolleyballWebApp.ViewModels
@model DashboardViewModel

<style>

	.container {
		padding-left: 0px;
	}

</style>



<h1 class="display-4 fw-normal"></h1>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Court" asp-action="Create">Create Court</a>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile">Edit Profile</a>

<h3 style="padding-left:20px; padding-top:20px;">Your Created Courts</h3>

<div class="container">
	<section class="bs-gray-dark d-flex justify-content-center align-items-center h-50 min-vh-50">
		<div class="container">
			<div class="row gy-2">
				@foreach (var item in Model.Courts)
				{
					<div class=" col-lg-3 col-md-4">
						<div class="box bs-gray-dark h-100 d-flex p-4 flex-column text-white">
							<img src="@item.Image" alt="Court Picture" />
							<h6 class="mt-3 h-25">@item.Title</h6>
							<div class="btn-group mt-auto">
								<a asp-controller="Court" asp-action="Detail" asp-route-id="@item.Id" type="button" class=" mt-auto btn btn-sm btn-outline-secondary">View</a>
								<a asp-controller="Court" asp-action="Edit" asp-route-id="@item.Id" type="button" class="mt-auto btn btn-sm btn-outline-secondary">Edit</a>
								<a asp-controller="Court" asp-action="Delete" asp-route-id="@item.Id" type="button" class="mt-auto btn btn-sm btn-outline-secondary">Delete</a>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</section>
</div>




